*.class

# Resources #
*.psd
*.wav
*.mp3

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/run
/logs

# windows
*.bat

# gradle
/.gradle
/build
!gradlew.bat
 
# eclipse
/eclipse
/.settings
/.metdata
/.classpath
/.project
/bin
MatterOverdrive1_Client.launch
MatterOverdrive1_Server.launch
 
# intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
