language: java
jdk:
- oraclejdk8
before_install:
- chmod +x gradlew
install: true
script: ./gradlew build
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
notifications:
  email: false
after_success: ./gradlew bintrayUpload
