language: java
jdk:
- oraclejdk8
before_install:
- chmod +x gradlew
- ulimit -a
- free -m
install: true
script:
- ./gradlew clean
- ./gradlew build --info
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
notifications:
  email: false
after_success: ./gradlew bintrayUpload
