.matter-text
{
    color:rgb(191,228,230);
}

.small-title
{
    margin-bottom:8px;
}

.text-block
{
    margin-bottom:8px;
}

.padded-page
{
    margin-left:8px;
    margin-right:8px;
    margin-top:6px
}
